*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(Pic/background.png);
    margin: auto;
    max-width: 1024px;
    min-width: 769px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Verdana, Arial, or any sans-serif;
}

/*Logo*/
#logo{
    width: 100%;
}

/*Menu*/
h3{
    background-color: rgb(56, 102, 161);
    width: 100%;
    height: 50px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.menu{
    background-color: rgb(56, 102, 161);
    width: 100%;
    height: 60px;
    text-align: left;
    font-weight: bold;
    font-size: 2.3em;
    padding-top: 10px;
}

.menu a{
    text-decoration: none;
    color: black;
}

/*Cart and Login logo*/
.cart,.login{
    float: right;
    width: 50px;
    cursor: pointer;
    padding-right: 10px;
    padding-top: 2px; 
}

/*Display Column*/
.display{
    margin-top: 4%;
    margin-bottom: 3%;
}
.column{
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    height: 50%;
    font-family: Courier, monospace;
    font-size: 20pt;
    padding-left: 1px;
    padding-right: 1px;
    transition: 0.5s;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}
  
.column:hover{
    transform: translateY(-10px);
}

.column p ,.column h4{
    font-family: Verdana, Sans-serif;
    font-size: 17pt;
    text-align: center;

}
.column a{
    text-align: right;
    font-family: Copperplate, Fantasy;
    font-size: 20pt;
    display: block;
    text-decoration: none;
    color: rgb(130, 243, 243);
    padding-right: 10px;

}

.column img{
    width: 340px;
    height: 350px;
    object-fit: cover;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*To the Top button*/
.to_top{
    text-align: right;
    padding-right: 0%;
    margin-top: 10px;
}
  
  .btn_t{
    width: 100px;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    background: none;
    font-size: 20px;
    cursor: pointer;
    transform: 1s;
    position: relative;
    overflow: hidden;
}
  
.btn_1{ 
    color: rgb(0, 0, 0);
}
  
.btn_1:hover{
    color: rgb(0, 0, 0);  
}
  
.btn_t::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(255, 187, 0);
    z-index: -1;
    transition: 1s;
}
  
.btn_1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
  
.btn_1:hover::before{
    height: 180%;
}
  

/*footer*/
.footer{
    background-color: rgb(56, 102, 161);
    padding: 30px 60px 60px 60px;
    margin-top: 5px;
}

.Footcontain{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 210px;
}

.FootRow{
    display: flex;
}

.Foot{
    width: 50%;
    margin-right: 15%;
}

.Foot h4{
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
    position: relative;
}

.Foot ul li{
    font-size: 15px;
    font-weight: bold;
    list-style: none;
}

.Foot ul li a{
    padding-bottom: 10px;
    font-size: 15px;
    color: rgb(130, 243, 243);
    text-decoration: none;
    display: block;
}

.Foot ul li a:hover{
    color:whitesmoke;
    padding-left: 3px;
}

.SocialPic img{
    display: inline-block;
    width: 30px;
    object-fit: cover;
    padding-right: 10px;
}

.LastFoot{
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
}